@charset "utf-8";

ul {
    margin: 20px auto 20px auto;
    width: 300px;
}

ul li {
    cursor: pointer;
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.logo {
    height: 51px;
    width: 96px;
}

.price {
    font-size: 16px;
    font-weight: bold;
}

.images > img {
    cursor: pointer;
}

.configurator {
    cursor: pointer;
}
