@charset "utf-8";

ul {
    margin: 20px auto 20px auto;
    width: 270px;
}

ul li {
    cursor: pointer;
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.price {
    font-weight: bold;
}

a.logo-link {
    padding-bottom: 0px;
}

a.logo-link:hover,
a.logo-link.hover {
    border-color: transparent;
}

img.logo {
    height: 51px;
}

.operations {
    display: none;
}

body[data-mode*=full] .operations,
body[data-mode*=header] .operations {
    display: block;
}

.oauth li,
.operations li {
    border-radius: 18px 18px 18px 18px;
    -o-border-radius: 18px 18px 18px 18px;
    -ms-border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -khtml-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
}

.oauth li:active,
.operations li:active {
    background-color: #e0e0e0;
}

.price {
    display: none;
    font-size: 16px;
    font-weight: bold;
}

body[data-mode*=full] .price,
body[data-mode*=header] .price {
    display: block;
}

.configurator {
    cursor: pointer;
    display: none;
}

body[data-mode*=full] .configurator,
body[data-mode*=configurator] .configurator {
    display: block;
}

.images {
    display: none;
}

body[data-mode*=full] .images,
body[data-mode*=configurator] .images {
    display: block;
}

.images > img {
    cursor: pointer;
    height: 100px;
    width: 100px;
}

.initials-container {
    display: none;
    margin: 40px auto 40px auto;
}

body[data-mode*=full] .initials-container,
body[data-mode*=initials] .initials-container {
    display: block;
}

.initials-container > input[type=text] {
    font-size: 14px;
    height: 28px;
    text-align: center;
    vertical-align: top;
    width: 220px;
}

.initials-container > .drop-down-container > .button,
.initials-container > .drop-down-container > ul.drop-down {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-width: 160px;
    width: auto;
}
