@charset "utf-8";

ul {
    margin: 20px auto 20px auto;
    width: 300px;
}

ul li {
    cursor: pointer;
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.price {
    font-weight: bold;
}

a.logo-link {
    padding-bottom: 0px;
}

a.logo-link:hover,
a.logo-link.hover {
    border-color: transparent;
}

img.logo {
    height: 51px;
    width: 96px;
}

.price {
    font-size: 16px;
    font-weight: bold;
}

.images > img {
    cursor: pointer;
    height: 100px;
    width: 100px;
}

.frame-initials-container {
    border-radius: 50% 50% 50% 50%;
    -o-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -khtml-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    height: 250px;
    margin: 40px auto 40px auto;
    overflow: hidden;
    width: 250px;
}

.frame-initials-container > .frame-initials.vyner {
    height: 1000px;
    margin-left: -324px;
    margin-top: -320px;
    width: 1000px;
}
.configurator {
    cursor: pointer;
}
