*.py
*.pyc
*.log

.project
.pydevproject

extra.txt
requirements.txt
Dockerfile
Dockerfile.demo

/.git
/.settings

/src/python
/src/js/base
/src/js/visual

/src/js/ripe-min.js
/src/js/main.join.json
