*.py
*.pyc
*.log

.project
.pydevproject

extra.txt
requirements.txt
Dockerfile
Dockerfile.demo

/.git
/.settings

/dist

/src/python

/src/js/ripe.js
/src/js/ripe-min.js
/src/js/main.join.json
