@charset "utf-8";

.configurator {
    font-size: 0px;
    white-space: nowrap;
}

.configurator .area {
    display: inline-block;
}

.configurator .back {
    display: inline-block;
}

.configurator .backs {
    display: none;
}

.configurator .front-mask {
    display: none;
    opacity: 0.4;
    -o-opacity: 0.4;
    -ms-opacity: 0.4;
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    -webkit-opacity: 0.4;
    pointer-events: none;
    position: relative;
    z-index: 2;
}

.configurator .mask {
    display: none;
}

.configurator .masks {
    display: none;
}

.configurator.fullscreen {
    bottom: 0px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
}
